.ts-modal__overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.35);
}

.ts-modal__content {
  display: flex;
  flex-direction: column;
  max-width: 550px;
  width: 500px;
  background-color: #FFFFFF;
  border-radius: 8px;
  box-shadow: 0 12px 28px 0 rgba(0, 0, 0, 0.2),
              0 2px 4px 0 rgba(0, 0, 0, 0.1),
              inset 0 0 0 1px rgba(255, 255, 255, 0.5);
}

.ts-modal__header {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  height: 60px;
}

.ts-modal__title_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  order: 0;
  flex-grow: 1;
  flex-shrink: 1;
}

.ts-modal__dismiss {
  display: flex;
  align-items: center;
  order: 1;
  flex-grow: 0;
  flex-shrink: 0;
  cursor: pointer;
}

.ts-modal__title {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0;
  white-space: nowrap;
  word-break: break-word;
  overflow-x: hidden;
  overflow-y: hidden;
  text-overflow: ellipsis;
}

.ts-modal__body {
  display: flex;
  width: 100%;
  padding: 20px 16px;
}
