/**
 * Full page view UI enhancement
 */
.chat-container {
  display: flex;
  overflow: hidden;
  height: calc(100vh - 61px);

  // a,
  // a:hover {
  //   color: #4b5862;
  // }

  /* Fix: mention hyperlink is not in blue */
  // a[class*="mention--"] {
  //   color: $blue1 !important;
  // }

  .team-tab {
    display: flex;
    flex-direction: column;
    /* flex: 0 0 80px; */
    width: 80px;
    background-color: #1e2a4b;
    overflow-y: auto;

    &__team-item {
      display: flex;
      flex-shrink: 0;
      justify-content: center;
      margin-top: 20px;
      cursor: pointer;
      position: relative;

      &--default {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-weight: bold;

        > span {
          opacity: 0.9;
        }
      }

      > * {
        width: 40px;
        height: 40px;
        border-radius: 3px;
      }

      &:last-child {
        margin-bottom: 20px;
      }

      &__add {
        background-color: #59678e;
        display: flex;
        justify-content: center;
        align-items: center;

        .fa-plus {
          color: #c3cce6;
        }
      }

      &--active::after {
        content: "";
        width: 5px;
        height: 40px;
        background-color: #5779d9;
        position: absolute;
        left: 0;
      }

      &__notification {
        position: absolute;
        width: unset;
        height: unset;
        top: -7px;
        right: 14px;
        width: 13px;
        height: 13px;
        border-radius: 50%;
        border: solid 1px #1e2a4b;

        &--count {
          min-width: 16px;
          min-height: 16px;
          border-radius: 0.25rem;
          width: auto;
        }
      }

      &:hover {
        filter: brightness(1.3);
      }
    }
  }

  .team-tab__team-list {
    display: flex;
    flex-direction: column;
    order: 0;
    flex-grow: 1;
    flex-shrink: 1;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .messaging-meta {
    order: 1;
    flex-grow: 0;
    flex-shrink: 0;

    a {
      div {
        padding-bottom: 23px;
      }

      img {
        display: block;
        margin: 0 auto;
      }
    }
    .insightTooltips,
    .roadMapButton,
    .changeLogButton,
    .contactUserSupportButton,
    .faqButton {
      background-color: $blue5;
      padding: 8px 23px;
      &::after {
        border: none;
      }
    }
  }

  .team-detail-tab {
    display: flex;
    flex-direction: column;
    flex: 0 2 300px;
    min-width: 265px;
    background-color: #2b3c6c;

    &__header {
      padding: 20px;

      &__title {
        color: $gray8;
        font-size: 20px;
        margin-bottom: 0;
        font-weight: bold;
      }

      &--more {
        position: relative;
        height: auto;

        .more-dropdown {
          right: 0;
          top: 30px;
          left: unset;
          bottom: unset;
        }
      }
    }

    &__search {
      padding: 0 20px 10px 20px;
      position: relative;

      > img {
        position: absolute;
        left: 35px;
        z-index: 1;
        top: 13px;
      }

      > input {
        height: 40px;
        border-radius: 5px;
        background-color: #59678e;
        color: #c3cce6;
        position: relative;
        padding: 0 20px 0 40px;
      }
    }

    &__thread {
      color: #c3cce6;
      font-weight: normal;
    }

    .thread-section {
      padding: 10px 20px;
    }

    .channel-list {
      overflow-y: auto;
    }

    .channel {
      &__list {
        padding-left: 0;
        margin-bottom: 0;

        &__item {
          list-style-type: none;
          color: #c3cce6;
          padding-top: 8px;
          padding-bottom: 8px;
          padding-left: 37px;
          padding-right: 20px;
          display: flex;
          align-items: baseline;
          cursor: pointer;

          > span {
            color: #8695bd;

            &.has-messages,
            &.badge {
              color: #fff;
              font-weight: bold;
            }
          }

          > *:not(:last-child) {
            margin-right: 7px;
          }

          &:hover {
            background-color: #1e2a4b;
          }

          &--active {
            background-color: #526394;
            > span {
              color: #fff;
            }
          }
          .private-icon {
            margin-right: 10px;
          }
          .online-status {
            width: 12px;
            height: 12px;
            border: solid 1px #2b3c6c;
            background-color: #4ec7b5;
            border-radius: 25px;
            bottom: 0;
            z-index: 2;

            &.offline {
              background: #b7b7b7;
            }
          }
          .has-messages {
            flex: 1;
          }
        }
      }
    }
  }

  .messaging-tab {
    flex: 0 2 378px;

    &__header {
      display: flex;
      justify-content: space-between;
      padding: 16px 20px;
      margin-bottom: 0;
      cursor: pointer;
      color: $gray8;
    }

    .conversation-list {
      &__item {
        padding: 2px 20px;
        color: #8695bd;

        &:hover {
          background-color: #1e2a4b;
          color: #c3cce6;
          cursor: pointer;
        }

        &--active {
          background-color: #526394;
          color: #fff;
        }

        > a {
          border-bottom: 0 !important;
        }

        &.has-messages {
          .conversation-item--chat-user,
          .last-message {
            color: #fff;
          }
        }
      }
    }

    &.user-detail {
      flex: unset;

      .conversation-list__item {
        color: #fff;
        padding: 0px 20px;
        margin-top: -15px;
        // margin-bottom: 20px;

        .conversation-item--chat-user {
          font-size: 16px;
        }

        img {
          width: 34px;
          height: 34px;
        }
      }
    }

    .user-detail__image {
      position: relative;

      .online-status {
        width: 9.3px;
        height: 9.3px;
        border: solid 1px #2b3c6c;
        background-color: #4ec7b5;
        border-radius: 25px;
        position: absolute;
        right: 16px;
        bottom: 0;
        z-index: 2;

        &.offline {
          background: #b7b7b7;
        }
      }
    }
  }

  &--conversation-detail-tab {
    flex: 1 3 800px;
    display: flex;
    max-width: calc(100% - 345px);
    flex-direction: column;
    background: #ffffff;
  }

  &--thread {
    flex: 0 3 500px;
    background: $gray8;
    min-width: 425px;
    display: flex;
    flex-direction: column;

    .chat-tab-title {
      background: #fff;

      small {
        margin-left: 4px;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .thread {
      &--title {
        .message_actions {
          position: relative;
          cursor: pointer;

          &__header {
            background: #fff;
            border: 0.0625rem solid rgba(0, 0, 0, 0.15);
            font-size: 13px;
            border-radius: 3px;
            transition: all 50ms ease-in;
            line-height: 13px;
            padding: 3px 7px;
            color: #616061;
            border-right: 1px solid rgba(0, 0, 0, 0.15);
            transition-property: background, border, opacity;

            &:hover {
              color: #5293cc;
            }
          }

          &__body {
            position: absolute;
            top: 0;
            right: 20px;
            padding: 3px 7px;
            border: 0.0625rem solid rgba(0, 0, 0, 0.15);
            border-radius: 0.375em;
            background: #fff;
            color: $gray9;
            font-size: 12px;
            display: none;
            width: 120px;
            line-height: 13px;

            &:hover {
              background: $gray8;
            }
          }

          &:hover {
            .message_actions__body {
              display: block;
            }
          }
        }
      }

      &--content {
        overflow-y: auto;
        background: #fff;
        flex: 1;
        // overflow: unset;

        &__show-more {
          display: block;
          color: $blue4;
          cursor: pointer;

          &:hover {
            text-decoration: underline;
            color: $blue3;
          }
        }

        &__show-new-replies {
          display: block;
          color: $blue4;
          cursor: pointer;

          &:hover {
            text-decoration: underline;
            color: $blue3;
          }
        }
        &__show-new-replies::before {
          background-image: url('../../img/new-replies.png');
          background-size: 12px 12px;
          display: inline-block;
          width: 12px;
          height: 12px;
          margin-right: 0.3rem;
          vertical-align: middle;
          content: "";
        }

        &__gif-bottom {
          .action-group {
            .giphy-select {
              &__suggestions {
                top: 33px;
              }
            }
          }
        }
      }
    }
  }
}

.thread-history {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;

  &--new-thread {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 0 60px 60px 60px;
    position: absolute;
    left: 0;
    right: 0;
    top: 44px;
    z-index: 2;
    cursor: pointer;

    // width: 276px;
    // height: 29px;
    border-radius: 24.5px;
    // -webkit-border-radius: 24.5px;
    // -moz-border-radius: 24.5px;
    // -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    // -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    background: $blue1 !important;
    // position: fixed;
    // margin-top: 65px;
    // margin-left: 100px;
    span {
      // width: 187px;
      height: 18px;
      font-size: 12.8px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.41;
      letter-spacing: normal;
      text-align: left;
      color: $gray8;
    }
  }

  &--list {
    max-height: calc(100vh - 41px);
    overflow-y: auto;
    background: $gray8;
    margin-top: 20px;

    &__item {
      border: 1px solid #dee2e6;
      border-radius: 4px;
      margin: 15px 15px 20px;
      background: #fff;
    }
    &__item:first-child {
      margin-top: 0;
    }
  }

  .thread {
    &--content {
      max-height: unset;
      overflow: unset;
    }
  }
}

.preview-channel {
  background-color: $gray8;
  border-radius: 10px;

  &__title {
    font-size: 16px;
  }

  &__channel-name {
    color: $blue1;
  }

  &__sub-title {
    color: $gray7;
  }
}

.channel-mention {
  color: #5779d9;
  background-color: #f1f3fb;
  padding: 0 3px;
  font-weight: bold;
}

.error-message {
  &--text {
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  &.sending {
    opacity: 0.7;

    .error-message--text {
      cursor: progress;
    }
  }
}

.select-chat-user {
  .error-message {
    padding-left: 1rem;
    padding-top: 0.5rem;
    color: red;
  }
}

.messaging-modal {
  .error-message {
    padding-bottom: 1rem;
    color: red;
    font-size: 14px;
  }
}

.conversation-view-chat {
  .chat-tab-title {
    height: 74px;
  }
  .conversation-title-container {
    display: flex;
    flex-direction: column;
    color: #4b5862;
    .conversation-name {
      // color: #4b5862;
    }
    .converstation-title-detail {
      display: flex;
      margin-top: 5px;
      align-items: center;
      font-weight: normal;
      img {
        margin-right: 4px;
      }
    }
  }
}

.set-channel-topic.isEdit {
  textarea {
    border-radius: 3px;
    border: solid 1px #979797;
    background-color: #f2f4f6;
    padding: 10px !important;
  }
  .maximum-character {
    color: #a3a3a3 !important;
    font-size: 12.8px !important;
  }
}

.set-channel-topic {
  textarea {
    border: none;
    padding: 0 !important;
    background-color: #f2f4f6 !important;
  }
}

.conversation-info {
  flex: 0 3 500px;
  background: #ffffff;
  min-width: 425px;
  display: flex;
  flex-direction: column;
  border-left: 1px solid #d8d8d8;

  .title {
    display: flex;
  }

  .header-container {
    height: 76px;
    padding: 20px;
    justify-content: space-between;
    i {
      color: #5293cc;
    }
  }

  .ant-collapse {
    border-radius: 0;
    border-left: none;
    border-right: none;
    background: #ffffff;
  }

  .ant-collapse > .ant-collapse-item:last-child {
    border-radius: none;
  }

  .ant-collapse-content {
    background: #ffffff;
    border-top: none;
  }

  .thumbnail-file {
    display: flex;
    border: solid 1px #d8d8d8;
    border-radius: 5px;
    margin: 12px 0;
    padding: 8px;
    justify-content: space-between;
    align-items: center;
    i {
      display: none;
    }
  }
  .thumbnail-file:hover {
    i {
      display: block;
      font-size: 28px;
    }
  }

  .file-content {
    color: #5779d9;
  }

  .thumbnail-photo-container {
    max-height: 500px;
    overflow: scroll;
    img {
      margin: 0 5px;
    }
  }
  .row {
    margin: 0 0 20px 0;
    flex-direction: column;
  }
  .ant-collapse-header {
    font-size: 16px;
    padding: 20px !important;
  }
  .title-content {
    margin-right: 10px;
  }
  .ant-collapse-content-box {
    padding: 0 20px 20px 20px !important;
  }
  .row-content {
    font-size: 12.8px;
    word-break: break-all;
  }
  .link {
    color: #5779d9;
  }
  .channel-details {
    .title {
      margin-bottom: 4px;
    }

    a {
      color: #5779d9;
    }
    .link {
      display: none;
    }
    .link.row-content {
      display: block;
    }
    .row:hover {
      .link {
        display: block;
      }
    }
  }
  .add-topic-button:hover {
    cursor: pointer;
  }
  .fa-caret-up {
    display: none;
  }
  .ant-collapse-item-active {
    .fa-caret-up {
      display: block;
    }
    .fa-caret-down {
      display: none;
    }
  }
}

.add-topic-button {
  word-break: break-all;
}

/* Conversation banner */
.conversation-banner {
  display: block;
  padding: 4px;
  flex-shrink: 0;

  .banner-content {
    display: flex;
    border: 1px dashed #5779d9;
    border-radius: 4px;
    padding: 10px;
    background-color: #f2f4f6;
    font-size: 11.5px;
    max-width: 100%;
    width: 100%;

    div:first-child {
      order: 0;
      flex-grow: 0;
      flex-shrink: 0;
      display: flex;
      align-items: center;
    }

    div:nth-child(2) {
      order: 1;
      flex-grow: 1;
      flex-shrink: 1;
      margin-left: $base-pad * 2;
      margin-right: $base-pad * 2;
    }

    div:last-child {
      order: 2;
      flex-grow: 0;
      flex-shrink: 0;
    }
  }
}

.pin-badge {
  background-color: $aqua;
  color: white;
  cursor: default;
  position: relative;

  .pinned-by {
    display: none;
    position: absolute;
    top: -25px;
    left: -25px;
    height: 20px;
    border-radius: 3px;
    background-color: #1e2a4b;
    padding: 5px 10px;
  }

  &:hover {
    .pinned-by {
      display: block;
    }
  }
}

.pinned-container {
  position: relative;
  border-radius: 4px;
  border: solid 1px #d8d8d8;
  padding: .5rem 0.75rem;
  margin-bottom: .6rem;

  .fa-times {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
}

.message-item:hover {
  background-color: transparent;
}

.message-text p:last-of-type {
  display: inline;
}

.message-text blockquote {
  border-left: 0.25rem solid #5779d9;
  padding: 0 0.25rem;
  margin: 0.25rem 0;
}

.pinned-highlight, .pinned-highlight:hover {
  background-color: #fcf4da;
}

.select-chat-user-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 1.5rem;
}

.channel-mention-warning-image {
  width: 200px;
  position: absolute;
  top: 1rem;
  left: 3rem;
}

.channel-mention-warning-text {
  margin-top: 50px;
  margin-left: 235px!important;
  height: 90px;
}
