.newsfeed-container {
  background-color: $gray8;

  .container {
    display: flex;
    flex-direction: row;
    flex-basis: auto;
    align-items: stretch;
  }
}

.nf--side-column {
  order: 0;
  flex-grow: 0;
  padding-top: 3rem;
  margin-right: 2rem;

  .card {
    width: 240px;
    padding: 2em;
    margin-bottom: 2rem;
    min-width: 200px;
    max-width: 300px;
    border: none;
    //border: 0.3px solid #c2c2c2;
    border-radius: 2px;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.08);
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.08);

    &:last-child {
      margin-bottom: 0;
    }
  }

  .card--header {
    padding-bottom: .76rem;
    margin-bottom: .5rem;
    border-bottom: 1px solid #ddd;
  }

  .hashtag {
    padding-top: 5px;
    padding-bottom: 5px;
    color: #4a90e2;
    cursor: pointer;
  }
}

.user-info--card {
  div {
    text-align: center;
  }
}

.user-info--avatar {
  margin-bottom: 10px;

  img {
    max-width: 72px;
    height: auto;
    border-radius: 50%;
  }
}

.user-info--name {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 2px;
}

.user-info--session {
  font-size: 12px;
  padding: 2px 0;
  margin-bottom: 10px;

  span {
    line-height: 16px;
    color: $white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
  }
}

.user-info--reputation {
  img {
    width: 18px;
    margin-right: 0.3rem;
  }

  span {
    position: relative;
    top: 2px;
  }
}

.nf--primary-column {
  order: 1;
  flex-grow: 1;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 3rem 1rem;
}

@media (min-width: 320px) and (max-width: 820px) {

  // Hide user info on small screen
  .nf--side-column {
    display: none;
  }

  .nf--primary-column {
    padding: 1rem 0;
  }
}

// Feed post
.feed-post {
  background: #fff;
  border-radius: 4px;
  border: none;
  margin-bottom: 1.8rem;
  -webkit-box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.08);

  &--media {
    .image-layout {
      display: flex;

      &--1 {
        .image-layout--image {
          flex: 1;
        }
      }

      &--2 {
        max-height: 400px;

        .image-layout--image {
          flex: 1;
        }
      }

      &--3 {
        flex-wrap: wrap;

        .image-layout--image {
          flex: 0 0 50%;
          max-height: 250px;

          &:first-child {
            max-height: 500px;
            flex: 0 0 100%;
          }
        }
      }

      &--4,
      &--multi {
        flex-wrap: wrap;

        .image-layout--image {
          flex: 0 0 calc(100% / 3);
          max-height: 250px;

          &:first-child {
            max-height: 500px;
            flex: 0 0 100%;
          }
        }
      }
    }
  }

  &__edited {
    color: #979797;
  }
}

.feed-post--actor {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 1.2rem;
  border-bottom: 1px solid #ddd;
}

.feed-post--actor__image {
  order: 0;
  flex-grow: 0;
  margin-right: 10px;

  img {
    height: 42px;
    width: 42px;
  }
}

.feed-post--actor__meta {
  order: 1;
  flex-grow: 1;
}

.feed-post--actor__title {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  .actor__name {
    margin-right: 10px;
  }

  .actor__session {
    color: $white;
  }
}

.feed-post--actor__description {
  color: #666666;
}

.feed-post--article {
  padding: 1.2em 1.2em 2em 1.2em;
  overflow: hidden;

  .feed-post--content {
    .show-hide-text {
      position: relative;

      span {
        background: rgb(255, 255, 255);
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.17970938375350143) 0%, rgba(255, 253, 253, 0.7539390756302521) 35%, rgba(255, 255, 255, 1) 100%);
        display: flex;
        position: absolute;
        width: 100%;
        top: 160px;
        color: #5779d9;
        cursor: pointer;
        justify-content: center;
        z-index: 2;
      }

      .show-less {
        display: none;
      }

      &.show-see-more {
        position: relative;
        max-height: 160px;
        line-height: 20px;

        &--active {
          max-height: 100%;
          transition: all 300ms ease;

          .show-more {
            display: none;
          }

          span {
            top: 100%;
          }

          .show-less {
            display: flex;
          }
        }
      }
    }

    p {
      margin-bottom: 0;
    }

    white-space: pre-wrap;

    .feed-post--more,
    .feed-post--less {
      color: $ds-accent;
      cursor: pointer;
    }

    .feed-post--less {
      display: block;
    }

  }

  a {
    word-break: break-all;
  }
}

.feed-post--action-bar {
  display: flex;
  flex-direction: row;
  background-color: #f5f8fb;
  padding: 0.8rem 1.2rem;
  position: relative;

  .feed-post--social-actions {
    order: 0;
    flex-grow: 1;
    color: #556f7b;

    .social-action__btn {
      margin-right: 10px;

      &:last-child {
        margin-left: 14px;
        margin-right: 0;
      }
    }

    i {
      color: #A9B7C1;
    }
  }

  .feed-post--noti-actions {
    order: 1;
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 12px;
    padding: 3px 6px;
    background-color: $white;
  }
}

.social-action__btn {
  i {
    margin-right: 2px;
  }

  cursor: pointer;
}

// Some utils specific to news feed.
.rounded-image {
  border-radius: 50%;
}

.session-tag {
  font-size: 11px;
  padding: 2px 1rem;
  font-weight: 100;
  line-height: 16px;
  color: $white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.ds-accent {
  background-color: $ds-accent;
}

.hd-accent {
  background-color: $orange;
}

.de-accent {
  background-color: #49a99b;
}

.do-accent {
  background-color: #b1b1b1;
}

.ai-accent {
  background-color: #513f7a;
}

.dc-accent {
  background-color: #e2b84d;
}

.pm-accent {
  background-color: #ff6961;
}

.fd-accent {
  background-color: #3D59A5;
}

.sec-accent {
  background-color: #4E4E4E;
}

// -------------------------------
// POST BOX
// -------------------------------
.post-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.8rem;
  border-radius: 4px;
  background-color: $white;
  -webkit-box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.08);
  box-sizing: border-box;

  &__dropzone--isActive {
    border: 2px dashed #ccc;
    border-radius: .5rem;
    position: relative;
  }

  &__dropzone__drop_images {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 1.3rem;
    color: #ccc;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    background-color: white;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .gif_player {
    img {
      width: 157px;
      height: 157px;
      background-color: #2b2b2b;
      object-fit: contain;
    }
  }
}

.post-box__footer {
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 0.6rem 1.2rem;
  background-color: #f5f8fb;

  .left-side {
    order: 0;
    flex-grow: 1;
  }
}

.post-input__text-editor-container {
  flex-grow: 1;
  background-color: $white;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 16px;

  .public-DraftEditorPlaceholder-inner {
    font-size: 14px;
  }

  .post-input {
    border: none;
    background-color: $white;
    font-size: 14px;
    line-height: 1.2rem;
    min-height: 100px;
    max-height: 200px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    white-space: pre-line;
  }

  :global(.public-DraftEditor-content) {
    min-height: 50px;
    font-size: 14px;
    background: transparent;
    position: relative;
    z-index: 1;
  }
}

.feed-post--header {
  position: relative;
}

.feed-post--action {
  display: flex;
  align-items: baseline;
  position: absolute;
  right: 1rem;
  top: 1.2rem;

  .pinned-post {
    margin-right: 8px;
  }
}

.post-link {
  color: $ds-accent;

  &:hover {
    color: lighten($ds-accent, 10);
  }
}

.flag-post-button {
  margin-top: 3px;
  padding: 6px;
  border-radius: 2px;
  vertical-align: middle;
  cursor: pointer;
  -webkit-transition: background-color 0.125s ease-in-out;
  -moz-transition: background-color 0.125s ease-in-out;
  -ms-transition: background-color 0.125s ease-in-out;
  -o-transition: background-color 0.125s ease-in-out;
  transition: background-color 0.125s ease-in-out;

  &:hover {
    background-color: #f5f8fb;
  }
}

// Feed detail notifications
.nf--notification--container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 8px;
  background-color: #fff;
  border: 1px solid #d5dbde;
}