.profile-edit-modal {
  .ant-modal-header {
    background: transparent;
    padding: 0 3rem;
  }

  .ant-modal-title {
    font-size: 1.5rem;
    font-weight: 600;
    color: $gray9;
  }

  .ant-modal-body {
    padding: 3rem;
  }

  .ant-modal-footer {
    padding: 0 3rem 3rem;

    .ant-btn {
      padding: 0.4rem 3rem;
    }
  }

  .ant-form-item {
    label {
      font-size: 1rem;
      color: $gray9;
    }

    input {
      font-size: 1rem;
      color: $gray9;
      padding: 0.5rem 1rem;
      border-radius: 3px;
    }
  }
}

.input-image-upload {
  position: relative;
  height: 2rem;

  input[type=file] {
    opacity: 0;
    cursor: pointer;
    z-index: 1200;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  button.ant-btn.ant-btn-link {
    background-color: transparent !important;
    color: #b7becb !important;
    font-size: 0.75rem;
    color: $gray9;
    padding: 0;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.ant-modal.ant-modal-confirm.modal-confirm--edit-profile-form {
  .ant-modal-content {
    border-radius: 3px;
    overflow: hidden;
  }

  .ant-modal-body {
    padding: 0;
  }

  .ant-modal-confirm-title {
    font-size: 0.8rem;
    padding: 0.6rem 1.2rem;
    background: $blue1;
    color: #fff;
  }

  .ant-modal-confirm-content {
    font-size: 0.8rem;
    padding: 0.6rem 1.2rem;
    color: #556f7b;
  }

  .ant-modal-confirm-btns {
    margin-top: 0;
    padding: 1.2rem;
    padding-bottom: 1.5rem;

    .ant-btn {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      margin-left: 1rem;
      border-radius: 3px;
      font-size: 0.8rem;
    }

    .ant-btn:not(.ant-btn-primary) {
      color: $blue1;
      background-color: #f8f9fa;
      border: none;
    }
  }
}
