/*
 * Page styles
 */
.main-page.recommendation {
  padding-top: 40px;

  .page-title {
    font-size: 30px;
    font-weight: 600;
    color: $blue1;
    margin-bottom: $base-pad * 2;

    .star {
      margin-left: 10px;
    }
  }

  .nav-link {
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    background-color: transparent;
  }
}


.form.recommendation {
  max-width: 800px;
  font-size: 16px;

  ul {
    padding-left: 0;
    li {
      list-style-type: none;
    }
  }
}

/*
 * Each item in the list of recommendations
 */
.card.recommendation {
  margin-bottom: 2rem;
  padding: 20px;
  max-width: 800px;
  font-size: 15px;
  font-weight: 400;

  p {
    margin-bottom: 0;
  }

  .card-header {
    display: flex;
    flex-direction: row;
    padding: 0;
    padding-bottom: 15px;
    background-color: $white;
  }

  .card-title {
    order: 0;
    flex-grow: 1;
    flex-shrink: 0;

    h5 {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 5px;
    }
    p {
      font-size: 15px;
      margin-bottom: 0;
      font-weight: 300;
    }
  }

  .card-menu {
    order: 1;
    flex-grow: 0;
    flex-shrink: 1;

    .dropdown {
      position: absolute;
      right: 1.8rem;
      top: 1.6rem;
      z-index: 1;
      color: $gray15;
      box-shadow: 0 3px 8px rgba(0, 0, 0, .3);
    }
    .dropdown--item {
      min-width: 100px;
      padding: .25rem 1rem;
      text-align: center;
    }
  }

  .card-body {
    padding: 15px 0;
  }
  .two-columns {
    display: flex;
    flex-direction: row;

    .left {
      order: 0;
      flex-grow: 0;
      flex-shrink: 0;
      margin-right: 10px;
      min-width: 25%;
    }

    .right {
      order: 1;
      flex-grow: 1;
    }
  }

  .two-columns--inline {
    display: flex;
    flex-direction: row;

    .left {
      order: 0;
      flex-grow: 0;
      flex-shrink: 0;
      min-width: 20%;
    }
    .right {
      order: 1;
      flex-grow: 1;
    }
  }

  ul {
    margin-bottom: 0;
    padding-left: 0;
  }

  li.program {
    list-style-type: none;
  }

  .note {
    margin-top: 5px;
    padding: 10px;
    border: 1px solid $gray5;
    font-weight: 300;
  }

  .card-footer {
    background-color: $white;
    padding: 15px 0;
  }
}

@media only screen and (min-width : 320px) and (max-width : 480px) {
  .main-page.recommendation {
    .page-title {
      font-size: 22px !important;
      padding-left: 10px;
    }
  }

  .card.recommendation {
    padding: 10px;
    font-size: 13px;
    width: 95%;
    display: block;
    margin: 0 auto;
    margin-bottom: 2rem;

    .card-title {
      h5 {
        font-size: 15px;
      }
      p {
        font-size: 13px;
      }
    }
    .two-columns {
      display: flex;
      flex-direction: column;
    }
  }

  .form.recommendation {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 13px;
  }
}
