.content-wrapper {
  padding-top: ($base-pad * 2);
  padding-bottom: ($base-pad * 4);
  background-color: $gray3;
  min-height: calc(100vh - 377px);
}

.menu {
  background-color: #f8f9fa;

  .tab {
    padding: ($base-pad);
    border-bottom: 1px solid $gray3;
    font-size: 0.8rem;

    &:last-child {
      border-bottom: none;
    }

    &:hover {
      cursor: pointer;
    }

    &.active {
      background-color: $white;
      font-weight: bold;
      font-size: 0.85rem;
    }
  }
}

.section {
  margin-bottom: $base-pad;
  background-color: $white;
}

.search-filter .search {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  background-color: $white;

  .search-icon {
    flex: 0;
    flex-grow: 0;
    flex-shrink: 0;
    width: 6%;
    margin-bottom: 11px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .search-box {
    flex: 1;
    padding-top: $base-pad;
    width: 96%;

    .tag-row {
      min-height: 40px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
    }

    .tag-row .fa-search {
      margin-top: 0.45rem;
      display: inline;
      width: 5%;
    }

    .currently-showing {
      width: 95%;
      padding-bottom: 6px;
      padding-left: .5rem;
      border-bottom: 1px dashed #eee;

      .clear-all-tag {
        margin-right: .32rem;
      }
    }

    .input-row {
      display: flex;
      flex-direction: row;
      margin-top: $base-pad;
      margin-bottom: $base-pad;
      padding-left: .5rem;

      .data-entry {
        padding-top: 4px;
        padding-right: 4px;
        position: relative;
        width: 100%;
      }

      .input {
        border: none;
        padding: 0;
        width: 90%;
      }
    }
  }
}

.tag {
  border-radius: 3px;
  color: $white;
  background-color: $blue1;
  margin-bottom: $base-pad - 4;
  margin-right: $base-pad - 6;
  font-size: 0.8rem;
  padding: 4px 6px;
  display: inline-block;
  cursor: pointer;

  .fa-times {
    margin-left: 6px;
    width: .5rem;
    color: $white;

    &:hover {
      cursor: pointer;
    }
  }
}

.navbar {
  .dropdown-item.active,
  .dropdown-item:active,
  .dropdown-item:focus,
  .dropdown-item:hover {
    background-color: $blue1;
    color: $white;
  }
}

.search-filter .filter {
  background-color: $gray4;

  .dropdown-toggle {
    display: inline-block;
    vertical-align: middle;
    padding: 12px 45px;
    color: #666;
    -webkit-font-smoothing: antialiased;
    font-size: 0.8rem;
  }

  .dropdown-menu {
    background: #fff;
    color: #333;
    padding: 0;
    border: 1px solid #ccc;
    border-top: none;
    z-index: 10;
    position: absolute;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .05);
    top: 45px;
  }

  .dropdown-item {
    -webkit-font-smoothing: antialiased;
    font-size: 0.8rem;
    color: #666;
    cursor: pointer;
    padding: 6px 12px;
    text-align: left;
    clear: both;
  }

  .dropdown-item:active {
    background-color: $gray1;
  }

  .dropdown-toggle:hover {
    color: #333;
    cursor: pointer;
    background-color: #fff;
  }
}

.listing .row {
  background-color: $white;
}

.table-loading-container td {
  padding: 0;
  padding-left: 1rem;
  border: none;
}

.back-to-top {
  position: fixed;
  right: $base-pad * 4;
  bottom: $base-pad * 4;
  background-color: $blue1;
  padding: 4px;
  border: none;
  border-radius: 50%;
  color: $white;
  font-size: 12px;
  width: 48px;
  height: 48px;
  opacity: 0.9;

  i,
  span {
    display: block;
  }
}

.back-to-top:hover {
  opacity: 1;
}

.sign-up {
  width: 500px;
  max-width: 500px;
  min-height: calc(100vh - 160px);
  padding-bottom: 3rem;
  margin: 0 auto;
  padding-top: 35px;
  flex-shrink: 0;
}

.sign-up--main-text {
  margin: 0 auto 45px;
  font-weight: 300;
  font-size: 2.4rem;
}

.sign-up--card {
  padding: 50px 40px;
  border: 1px $gray2 solid;
}

.sign-up--input {
  max-width: 350px;
  margin: 0 auto;
}

.profile--block {
  text-align: left;

  h6 {
    font-size: .9rem;
    margin: 1rem 0;
    padding-left: 40px;
    float: left;
  }

  .card {
    clear: both;
    padding: 1rem 2.5rem;
    border: 1px $gray2 solid;
    border-radius: 0;
    text-align: center;
    margin-bottom: 1rem;

    .Select {
      margin: 0 auto;
      width: 300px;
      text-align: left;
    }
  }

  .spinner {
    margin: 0 auto;
  }

  button {
    margin: .5rem 0;
  }

  .profile--block--image {
    width: 60px;
  }
}

.profile--notification {
  background-color: $blue1;
  text-align: center;
  padding: 1.1rem;
  color: white;
  font-size: 1rem;
  font-weight: 400;
}

.profile--notification:hover {
  background-color: $blue2;
  -webkit-transition: background-color 100ms linear;
  -ms-transition: background-color 100ms linear;
  transition: background-color 100ms linear;
}

.profile--container {
  max-width: 600px;
  margin: 0 auto;
  padding: 3rem 0 8rem;
  text-align: center;
  position: relative;

  h6 {
    margin-top: 1.5rem;
    font-size: 1.1rem;
    color: $black;
    font-weight: 400;
  }

  .profile--container--sync-notification {
    position: absolute;
    top: .5rem;
    width: 100%;
    border: 1px solid $gray25;
    color: $gray15;
    border-radius: 5px;
    padding: .4rem 2rem;
    text-align: left;

    .fa-times {
      position: absolute;
      top: .6rem;
      right: .5rem;
      cursor: pointer;
    }
  }
}

#profilePageAboutMe, #profilePageExperiences {
  padding-top: 2rem;
  padding-bottom: 1.75rem;
}

.profile--image {
  border-radius: 50%;
}

.loading-page {
  height: calc(100vh - 190px);

  .spinner {
    padding-top: calc(50vh - 80px);
  }
}

.project-details {
  min-height: calc(100vh - 160px);
}

.project-details--container {
  max-width: 800px;
  margin: 0 auto;
  padding: 3rem 0 8rem;
}

.project-details--title {
  font-size: 22px;
  color: $gray0;
  padding: 1.5rem 6.2rem 0 0;
}

.project-details--date {
  position: absolute;
  right: 2.3rem;
  top: 2rem;
}

.project-details--title-break {
  margin: .8rem .8rem .8rem 0;
  margin-right: 1.5rem;
  border: 1px solid $gray3;
}

.project-details--tags {
  padding: 0 2.5rem 0 0;
  position: relative;
}

.project-details--delete-icon {
  position: absolute;
  top: 0;
  right: 3rem;
  cursor: pointer;
}

.project-details--delete-icon:hover {
  color: #545b62 !important;
}

.project-details--edit-icon {
  position: absolute;
  top: .1rem;
  right: 1.5rem;
}

.project-details--note {
  padding: .5rem 0;
}

.page-hero {
  padding-top: ($base-pad * 6);
  padding-bottom: ($base-pad * 6);
  height: (110px + ($base-pad * 12));
}

.page-title {
  font-weight: 300;
  margin-bottom: 1rem;
}

.project-form {
  max-width: 600px;
}

.user-projects {
  padding: 2rem 1rem;
}

.user-projects--title {
  color: $gray1;

  b {
    font-size: 15px;
  }
}

.user-projects--link {
  color: $blue1;
}

.user-projects--date {
  position: absolute;
  right: 1rem;
  top: .5rem;
  color: $gray1;
}

.user-projects--title-break {
  margin: .5rem 0 .5rem 0;
  border: 1px solid $gray3;
}

.user-projects--tags {
  padding: 0 2.8rem 0 0;
  position: relative;
}

.user-projects--delete-icon {
  position: absolute;
  top: .2rem;
  right: 1.5rem;
  cursor: pointer;
}

.user-projects--delete-icon:hover {
  color: #545b62 !important;
}

.user-projects--edit-icon {
  position: absolute;
  top: .3rem;
  right: 0;
}

.upload-file-placholder {
  text-align: center;
  margin: .3rem 0 0;

  p {
    margin: 0;
    font-size: 1.3rem;
    color: $gray25;
    line-height: 3rem;

    span {
      font-size: 4.3rem;
      line-height: 1.8rem;
      font-weight: lighter;
    }
  }
}

.event-date-input {
  width: 155px;
  padding: 0.3rem .7rem;
}

@media only screen and (max-width: 1200px) {
  .search-filter .filter .dropdown-toggle {
    padding: 12px 30px;
  }
}

@media only screen and (max-width: 991px) {
  .search-filter .filter .dropdown-toggle {
    padding: 12px 5px;
  }

  .profile--notification {
    padding: 1rem;
    font-size: .9rem;
  }
}

@media only screen and (max-width: 736px) {
  .search-filter .filter .dropdown-toggle {
    padding: 12px 9px;
  }

  .search-filter .search .search-icon {
    width: 8%;
  }
}

@media only screen and (max-width: 540px) {
  .search-filter .filter .dropdown-toggle {
    padding: 8px 3px;
  }

  .search-filter .filter .dropdown-menu {
    top: 33px;
  }

  .sign-up--card {
    width: 95%;
    margin: 0 auto;
    padding: 30px 20px;
  }

  .profile--block {
    .card {
      width: 95%;
      margin: 0 auto;
      padding: .8rem 1.5rem;

      .Select {
        width: 230px;
      }
    }
  }
}

.welcome-page {
  .text-dark {
    font-weight: 600;
    line-height: 2;
  }

  p.text-dark {
    font-size: .78rem;
  }
}

.profile--image--tooltip {
  position: relative;
  display: inline-block;
}

.profile--image--tooltiptext {
  display: none;
  position: absolute;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: .2rem .5rem;
  border-radius: 3px;
  opacity: 0;
  transition: opacity .6s;
  top: 110%;
  left: 0;
  z-index: 1;
  font-size: .65rem;
  min-width: 100%;
}

.profile--image--tooltip:hover .profile--image--tooltiptext {
  display: block;
  opacity: 1;
}

.technology-tag {
  border-radius: 3px;
  color: $white;
  background-color: $blue1;
  margin-top: .3rem;
  margin-bottom: .3rem;
  margin-right: .2rem;
  font-size: 0.8rem;
  padding: 4px 6px;
  display: inline-block;
}

.project-filter {
  width: 95%;
  margin-bottom: .5rem;
}

.project-filter.menu .tab {
  padding: 13.15px;
}

.post-form .card .card-body {
  position: relative;
  padding: 1.25rem 1.5rem 1.25rem 2.5rem;

  .fa.fa-link {
    position: absolute;
    top: 10px;
    left: -25px;
  }
}

.post-form .card .card-body.minimized {
  padding: .65rem 1.5rem .65rem 2.5rem;
}

.post-form .form-group {
  margin-bottom: .7rem;
}

.dropdown form {
  padding-left: ($base-pad - 2);
  padding-right: ($base-pad - 2);

  .form-group {
    margin-bottom: 0;
  }
}

.post-form div.react-tagsinput {
  min-height: unset;
  padding: .25rem;
}

.post-form textarea.form-control {
  min-height: 80px;
}

.post-form .react-tagsinput-input {
  margin: 0;
}

#postFormSubmit {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

#postFormSubmit.minimized {
  width: 23%;
  padding-left: unset;
  padding-right: unset;
}

#postFormLink.minimized {
  width: 73%;
  float: left;
  margin-bottom: 0;
}

.sidebar-button {
  color: $gray1;
  font-size: .85rem;
  background-color: $white;
  width: 100%;
  border: solid 1px $gray25;
  border-radius: 2px;
  text-align: left;
  padding: .8rem 1.2rem;
}

.sidebar-button:hover {
  color: $gray0;
  background-color: $gray4;
}

.sidebar-button.active {
  color: $white;
  background-color: $blue1;
}

.sidebar-button.active:hover {
  background-color: $blue2;
}

.sidebar-button.menu:hover {
  background-color: $white;
  color: $gray1;
}

.sidebar-button.menu.active:hover {
  background-color: $blue1;
  color: $white;
}

.sidebar-filter-item {
  background-color: $white;
  width: 100%;
  border: solid .5px $gray3;
  padding: .6rem .5rem .6rem 1.5rem;
}

.sidebar-filter-item:hover {
  color: $gray0;
}

.sidebar-filter-item.active {
  color: $blue1;
  font-weight: bold;
}

.sidebar-filter-item.active:hover {
  color: $blue2;
}

.post-container {
  position: relative;
  margin-bottom: 1rem;
  background-color: $gray4;

  .post-header {
    padding: .5rem 1.5rem;
    min-height: 2.6rem;

    .vote {
      margin: -.6rem 1rem 0 0;

      .vote--count {
        margin-top: -.35rem !important;
        font-size: .9rem;
      }
    }
  }

  .post-body {
    padding: 1.2rem 1.5rem;
    border-top: 1px solid $gray25;
    border-bottom: 1px solid $gray25;
    background-color: $white;

    .preview {
      background-color: $gray4;
    }
  }

  .post-footer {
    padding: .5rem 1.5rem;
    min-height: 33px;
  }
}

.post-container--options {
  position: absolute;
  right: 1.5rem;
  top: .7rem;
  text-align: center;

  .fa-bookmark {
    color: $blue1;
  }
}

.post-container--dropdown {
  position: absolute;
  right: 0;
  top: 1rem;
  z-index: 1;
  color: $gray15;
  box-shadow: 0 3px 8px rgba(0, 0, 0, .3);

  .card:last-child {
    border-top: 0;
  }
}

.post-container--dropdown--item {
  width: 100px;
  padding: .25rem 1rem;
  text-align: center;
  &.wide {
    width: 250px;
    text-align: left;
  }
}

.post-container--dropdown--item:hover {
  background-color: $gray3;
}

.post-container--item-bookmark {
  padding: .25rem 1rem;
  text-align: left;
}

.post-container--item-bookmark:hover {
  background-color: $gray3;
}

.back-to-link {
  margin: -25px 0 6px 10px;
  color: $blue1;
  cursor: pointer;
}

.back-to-link:hover {
  color: $blue2;
}

.show-post-link {
  text-align: right;
  margin-right: -2rem;
}

.show-post-link span:hover {
  text-decoration: underline;
}

.post-result-count {
  font-size: .7rem;
  margin: -.1rem 0 .6rem 1rem;
}

.bookmark-list-info {
  position: relative;
}

.bookmark-list-info--action-icon {
  position: absolute;
  top: .5rem;
  right: 1rem;
}

#userSessionSelect {
  position: relative;

  .fa.fa-search {
    position: absolute;
    top: 39px;
    left: 12px;
    z-index: 1;
  }

  .Select-placeholder, .Select-input, .Select-value {
    padding-left: 35px;
  }
}

.project-row .owner-info div {
  font-size: .75rem;

  span {
    font-size: .7rem;
  }
}

@media only screen and (max-width: 800px) {
  .project-details--container {
    width: 95%;
  }
}

@media only screen and (max-width: 600px) {
  .profile--container {
    width: 95%;
  }
}

@media only screen and (max-width: 575px) {
  .project-details--title,
  .project-details--tags {
    padding-left: 1rem;
  }

  .project-filter {
    width: 100%;
  }
}

@media only screen and (max-width: 375px) {
  .sign-up--card {
    width: 90%;
    margin: 0 auto;
    padding: 20px 20px;
    border: 1px $gray2 solid;
  }

  button.btn-linked-in {
    font-size: 15px;
    padding: 5px 20px;
  }

  .profile--notification {
    padding: .9rem;
    font-size: .8rem;
  }
}

button.btn-linked-in {
  background-color: $blue1;
  width: fit-content;
  margin: 0 auto;
  font-weight: 300;
  font-size: 20px;
  padding: 10px 30px;
  color: $white;
}

button.btn-linked-in:hover {
  background-color: $blue2;
  color: $white;
}

button.btn-linked-in .spinner {
  display: inline;

  div {
    background-color: $white;
  }
}

button.btn-submit {
  background-color: $blue1;
  color: white;
  padding: 5px 25px;
}

button.btn-submit:hover {
  background-color: $blue2;
}

.coming-soon-badge {
  font-weight: 400;
  font-size: 8.7px;
  position: absolute;
  margin-top: .25rem;
  padding: .25rem .4rem .2rem;
}

.coming-soon-description {
  position: absolute;
  top: 1.65rem;
  left: 1rem;
  color: $gray1;
  background-color: $white;
  width: 270px;
  padding: .5rem .8rem;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.08);
  z-index: 999;
}

.welcome-fellow-profile {
  border-right: 1px solid #d7e1e7;
}

.image-viewer {
  .ril-prev-button {
    background: rgba(0, 0, 0, 0) url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgd2lkdGg9IjIwIiBoZWlnaHQ9IjM0Ij48cGF0aCBkPSJtIDE5LDMgLTIsLTIgLTE2LDE2IDE2LDE2IDEsLTEgLTE1LC0xNSAxNSwtMTUgeiIgZmlsbD0iI0ZGRiIvPjwvc3ZnPg==') no-repeat center;
  }

  .ril-next-button {
    background: rgba(0, 0, 0, 0) url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgd2lkdGg9IjIwIiBoZWlnaHQ9IjM0Ij48cGF0aCBkPSJtIDEsMyAyLC0yIDE2LDE2IC0xNiwxNiAtMSwtMSAxNSwtMTUgLTE1LC0xNSB6IiBmaWxsPSIjRkZGIi8+PC9zdmc+') no-repeat center;
  }

  .ril__toolbar {
    background: transparent;
    height: 0;

    .ril__toolbarRightSide {
      padding-right: 5px;
    }
  }
}

.thanks {
  position: absolute;
  cursor: pointer;
  height: 42px;
  width: 42px;
  background-image: url('../../img/star-animations.png');
  background-position: left;
  background-repeat: no-repeat;
  background-size: 2900%;
  left: .2rem;
  top: 0;
}

.thanks.active {
  background-position: right;
}

.thanks.is_animating {
  animation: thank-burst .8s steps(28) 1;
}

@keyframes thank-burst {
  from { background-position:left; }
  to { background-position:right; }
}

.comment-thanks {
  width: fit-content;

  .thanks {
    left: -1rem;
    top: -.8rem;
  }
}

.card.border-none {
  border: none;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.project-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.project-description {
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  // max-width: 400px;
  height: $font-size*$line-height*$lines-to-show; /* Fallback for non-webkit */
  // margin: 0 auto;
  font-size: $font-size;
  line-height: $line-height;
  -webkit-line-clamp: $lines-to-show;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.project-link {
  margin-top: 8px;
}

.project-date {
  min-width: 90px;
  margin-left: 40px;
}

button.btn.save-as-draft-btn {
  border: 1px solid $gray15;
  color: $gray15;
}

// Chat
.chat-room {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  height: 0;

  > .chat-tab-item {
    background-color: $white;
  }

  > .chat-tab-item:not(:first-child) {
    margin-right: 1rem;
  }

  .conversation-list {
    height: 290px;
    overflow-y: auto;
  }
}

.chat-input {
  background-color: $white;
  padding: 0 0.5rem;
}

.chat-tab-title {
  color: $gray7;
  height: 43px;
  align-items: center;

  &--action {
    color: $blue4;
  }

  &--user-name:hover {
    text-decoration: underline;
  }

  .more-button {
    display: flex;
    font-size: 20px;
    cursor: pointer;

    i.fa {
      color: $blue4;
    }

    &.active {
      i.fa {
        color: $blue3;
      }
    }

    &:hover {
      background-color: $gray4;
      border-radius: 4px;

      i.fa {
        color: $blue3;
      }
    }
  }

  &.more-component {
    position: relative;
    height: auto;
  }

  .more-dropdown {
    border: 1px solid $gray25;
    padding: 5px 0;
    min-width: 180px;
    right: 0;
    left: auto;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);

    &__item {
      font-weight: 400;
      padding: 5px 10px;
      color: $gray15;

      &:hover {
        background: $blue1;
        color: $white;
      }
    }
  }
}

img.chat-avatar {
  height: 40px;
  width: 40px;
  display: block;
  object-fit: cover;
  flex: 0 0 40px;

  &--conversation-item {
    height: 40px;
    width: 40px;
    object-fit: cover;
  }
}

.conversation-item, .message-item {
  position: relative;

  a {
    color: #5779d9;
  }

  &--chat-user {
    display: inline;
    font-weight: 600;
    font-size: 13px;

    &:hover {
      color: $gray0;
    }
  }

  &--timestamp {
    line-height: 18px;
  }
  &--edited {
    color: $gray12;
    font-size: 11px;
  }
  .text-prewrap {
    white-space: pre-wrap;
    span{
      display: inline-block;
      white-space: pre-wrap;
      height: auto;
      overflow-wrap: break-word;
    }
  }

  &:hover {
    background-color: $gray8;
  }

  &--system{
    text-align: center;
    font-size: 11px;
    &:hover {
      background-color: transparent;
    }
  }

  // .image-layout--image:not(:last-child) {
  //   padding-bottom: 6px;
  // }

  .thread-bar {
    display: flex;
    max-width: 550px;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 6px;
    line-height: 14px;
    padding: 4px;
    cursor: pointer;
    color: #8c8c8c;
    overflow: hidden;
    margin: 4px 0 -2px -5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    background-color: $white;

    &--avatar {
      margin-right: 4px;
      height: 24px;
      line-height: 24px;
      width: 24px;
      flex-shrink: 0;
      cursor: pointer;

      &__image {
        width: 100% !important;
        height: 100% !important;
        display: block;
        border-radius: 3px;
      }
    }

    &--reply-count {
      margin-left: 4px;
      font-weight: 600;
      flex-shrink: 0;
      line-height: 16px;

      &:hover {
        text-decoration: underline;
      }
    }

    &--description {
      position: relative;
      flex: 1;
      color: #8c8c8c;
      margin-left: 8px;
      display: flex;
      align-items: center;

      &__item {
        position: absolute;
        left: 0;
        opacity: 0;
        transition: opacity .2s;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        line-height: 16px;
      }

      &__last-reply {
        opacity: 1;
      }
    }

    &--arrow {
      margin-top: 2px;
      color: transparent;
      font-size: 8px;
      flex-shrink: 0;
      width: 20px;
      text-align: center;
    }

    &:hover {
      background: #fff;

      .thread-bar--arrow {
        color: #868686;
      }

      .thread-bar--description__last-reply {
        opacity: 0;
      }

      .thread-bar--description__view-thread {
        opacity: 1;
      }
    }

    &.popup-size {
      .thread-bar {
        &--reply-count {
          font-size: 10px;
          margin-left: 2px;
        }

        &--avatar {
          width: 20px;
          height: 20px;
          margin-right: 2px;
        }

        &--description {
          margin-left: 4px;
          font-size: 9px;
        }

        &--arrow {
          width: 8px;
        }

        &--description__item {
          bottom: -9px;
        }
      }
    }
  }

  &:hover {
    .message_actions {
      display: block;
    }
  }

  .message_actions {
    position: absolute;
    top: -8px;
    right: 1rem;
    z-index: 1;
    display: none;
    padding-left: 10px;
    cursor: pointer;

    &--hovered:hover {
      box-shadow: 0 1px 1px rgba(0,0,0,.1);
      border-color: rgba(0,0,0,.3);
      //color: $blue4;
    }

    &__header {
      background: #fff;
      border: .0625rem solid rgba(0,0,0,.15);
      border-radius: .375em;
      transition: all 50ms ease-in;
      transition-property: border-color,box-shadow;
      line-height: 1;
      padding: 3px 7px;
      color: #616061;
      border-right: 1px solid rgba(0,0,0,.15);
      transition: all 50ms ease-in;
      transition-property: background, border, opacity;
    }

    &__body {
      position: absolute;
      top: 0;
      right: 20px;
      padding: 9px 16px;
      border: 0.0625rem solid rgba(0, 0, 0, 0.15);
      border-radius: .375em;
      background: #fff;
      display: none;
      color: $gray9;
      font-size: 12px;
      width: 200px;
      span {
        height: 23px;
        line-height: 23px;
        display: block;
        &:hover {
          color: $blue4;
        }
      }
    }

    &:hover {
      .message_actions__body {
        display: block;
      }
    }
  }
}

.last-message-item .message_actions .message_actions__body {
  top: -38px;
}

.last-message {
  font-size: 12px;
}

.conversation-wrapper {
  &--full-page {
    .conversation-list {
      height: calc(100vh - 169px - 30px - 62px);
      overflow: auto;
      margin-bottom: 0;

      li {
        &:hover {
          background: $gray8;
        }
      }
    }
  }

  .thread-section {
    &:hover {
      background: $gray8;
    }

    &--icon {
      flex: 0 0 40px;
      text-align: right;
    }
  }
}

.chat-tab-item {
  width: 285px;

  .body {
    height: 340px;
  }
  .conversation-body {
    height: calc(340px - 0.5rem);
  }

  h6 {
    .action-items {
      display: flex;
      > * {
        margin-right: 0.5rem;
        color: $blue4;

        &:last-child {
          margin-right: unset;
        }
      }
    }
  }
}

.grey {
  &.lighten-3 {
    background-color: $gray6 !important;
  }
}

.chat-body {
  &.theirs {
    background-color: $gray6
  }

  &.ours {
    background-color: $blue3;
    color: $white;
  }

  &.w-94{
    width: calc(100% - 45px);
  }

  .image-layout--image {
    max-height: 300px;
    height: 100%;
    margin-bottom: 5px;  // Add some margin to each image
    .image-loading--medium {
      margin: 0;
      height: 300px;
      cursor: pointer;
    }

    .image-loading--small {
      margin: 0;
      height: 150px;
      transform: scale(0.5);
      cursor: pointer;
    }

    &.image-medium {
      img {
        max-width: 300px;
        max-height: 300px;
      }
    }

    &.image-small {
      img {
        max-width: 150px;
        max-height: 150px;
      }
    }

    .image-small {
      width: 150px;
      height: 150px;
    }

    .image-thumbnail {
      width: 300px;
      height: 300px;
    }

    .image-normal {
      width: 600px;
      height: 500px;
    }
  }

  pre {
    background: #ededed;
    border: 1px solid #bbb;
    border-radius: 0.25rem;
    padding: 0.25rem 0.5rem;
    margin-top: 0.5rem;
    white-space: pre-wrap;

    code {
      border: 0;
      padding: 0;
      margin: 0;
    }
  }

  code {
    color: #666;
    background: #ededed;
    border: 1px solid #bbb;
    border-radius: 0.25rem;
    padding: 0.125rem;
    word-break: break-all;
  }

  span.message-text p:last-child {
    margin-bottom: 0px;
  }
}

.message-textarea {
  background-color: $white;

  &__files {
    border: 1px solid #dee2e6;
    margin: 10px 16px 0;
    border-radius: 5px;

    &--editor {
      border-bottom: 1px solid #dee2e6;
    }
  }

  .gif_player {
    img {
      width: 69px;
      height: 69px;
      background-color: #2b2b2b;
      object-fit: contain;
    }
  }

  .DraftEditor-root {
    padding: 0.5rem 1rem;
    max-height: 65px;
    overflow-y: auto;
  }

  &.full-page {
    max-height: 330px;

    &.message-textarea-extended {
      max-height: 480px;
    }

    .DraftEditor-root {
      max-height: 200px;
      .DraftEditor-editorContainer {
        word-break: break-word;
      }
    }

    .gif_player {
      img {
        width: 157px;
        height: 157px;
      }
    }
  }

  //button[class^="draftJsEmojiPlugin__emojiSelectButtonPressed"] + div {
  //  bottom: 87px;
  //}
  //
  //&.showAtBottom {
  //  button[class^="draftJsEmojiPlugin__emojiSelectButtonPressed"] + div {
  //    bottom: unset;
  //  }
  //}

  &__dropzone--isActive {
    border: 2px dashed #ccc;
    border-radius: .5rem;
    position: relative;
  }

  &__dropzone__drop_images {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 1.3rem;
    color: #ccc;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    background-color: white;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.chat-portal-container {
  position: fixed;
  bottom: 0;
  right: 2rem;
  z-index: 1030; // https://getbootstrap.com/docs/4.3/layout/overview/#z-index
}

.cursor-pointer {
  cursor: pointer;
}

.create-conversation {
  display: flex;
  .select-user {
    flex: 1;
    border: 1px solid #d6dfe6;
    border-radius: 5px;
    .Select-multi-value-wrapper {
      max-height: 142px;
      width: 100%;
      overflow: auto;
    }
  }

  z-index: 1;
}

.chat-message {
  // vpnn
  height: auto;
  overflow-y: auto;
  overflow-x: hidden;
  > .loading {
    transform: scale(.5)
  }
  &--full-page {
    .message-item {
      &--system {
        font-size: 13px;
      }
      .gif-message {
        .loading-gif {
          img {
            width: 100%;
            height: 100%;
          }
        }
        .gif_player {
          max-width: 300px;
        }
      }
    }
  }
}

.conversation-header-right {
  > *:not(:first-child) {
    margin-left: 0.5rem;
  }

  .dropdown {
    .more-dropdown {
      &.admin {
        min-width: 195px;
      }
    }
  }
}

.conversation {
  &--add-user {
    padding: 13px 1rem;
    font-size: 16px;

    &__action {
      color: #5779d9;
      cursor: pointer;

      img {
        margin-right: 10px;
      }
    }
  }

  &--not-found {
    min-height: calc(100vh - 169px - 41px);
  }

  &--default {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &__title {
      font-size: 30px;
      font-weight: bold;
      color: #4b5862;
      margin-top: 2rem;
      margin-bottom: 0.5rem;
    }

    &__description {
      font-size: 20px;
      text-align: center;
      color: #4b5862;
      max-width: 600px;
    }
  }

  &--body {
    height: 1px;
    &.minimize-state {
      display: none !important;
    }
  }
}

.participants-management {
  font-weight: 500;

  .modal-content {
    border-radius: 5px !important;
    background-color: #fff !important;
  }

  &--header {
    color: $gray9;
    font-size: 14px;
    padding: 11px 20px;
    border-bottom: 1px solid #d6dfe6;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
  }

  &--body {
    margin: 10px 0;
    padding: 0 20px;
    max-height: 500px;
    overflow-y: auto;

    &__item {
      align-items: center;
      display: flex;
      color: $gray9;
      font-size: 12px;
      padding: 5px 0;

      &--name {
        flex: 1;
      }

      .fa {
        margin-left: 10px;
        color: #b2b2b2;
        font-size: 14px;
        cursor: pointer;

        &.fa-times {
          color: #e77474;
        }
      }
    }
  }
}

.discard {
  font-weight: 500;
  font-size: 13px;

  .modal-dialog {
    max-width: 356px;
  }

  .modal-content {
    border: none !important;
    border-radius: 5px !important;
    width: 356px;
  }

  &--header {
    font-size: 14px;
    padding: 11px 20px;
    border-bottom: 1px solid #d6dfe6;
    font-weight: 500;
    background: #5779d9;
    color: #fff;
    display: flex;

    &__title {
      flex: 1;
    }

    &__button {
      .fa {
        font-size: 17px;
      }
    }
  }

  &--body {
    margin: 20px 0;
    padding: 0 20px;
  }

  &--text {
    color: #556f7b;
  }

  &--buttons {
    margin-top: 17px;
    text-align: right;

    .button {
      width: 83px;
      height: 33px;
      border-radius: 3px;
      background: #5779d9;
      color: #fff;
      border: 1px solid #5779d9;
      cursor: pointer;

      &:hover {
        border-color: #385fce;
        background: #385fce;
      }

      &--back {
        margin-left: 20px;
        background: none;
        color: #556f7b;
        border: 1px solid #556f7b;

        &:hover {
          color: #fff;
          background: #556f7b;
        }
      }
    }
  }
}

.create-conversation{
  .select-participants{
    display: flex;
    width: 100%;
    align-items: center;

    button.btn.btn-primary{
      background-color: #5293cc;
      border-color: #5293cc;
      width: 46px;
      height: 23px;
      font-size: 11px;
      font-weight: 300;
      padding: 0;
      letter-spacing: 0.5px;
      color: $white;
      &:hover {
        background-color: #2c76b7;
      }
    }

    .Select.is-focused:not(.is-open) {
      > .Select-control{
        box-shadow: none;
      }
    }
    .Select--multi {
      .Select-control{
        border: none;
        line-height: 10px;
        &:hover{
          box-shadow: none;
          border: none;
        }
      }
      .Select-value-icon{
        background-color: #5293cc;
        border: none;
        padding: 3px 4px 0px 4px;
        float: right;
        color: #ffff;
      }
      .Select-value-label{
        padding: 2px 0px 2px 5px;
      }
      .Select-clear-zone{
        display: none;
      }
      .Select-arrow-zone{
        display: none;
      }
      .Select-value{
        color: #fff;
        background-color: #5293cc;
      }
    }
  }
}

.input-change-group-name {
  display: flex;
  width: 100%;
  align-items: center;
  .input-text {
    border: 1px solid #d6dfe6 !important;
    border: none;
    padding: 5px;
    background: #fff;
    color: #556f7b;
    border-radius: 5px;
  }
  button.btn.btn-primary {
    background-color: #5293cc;
    border-color: #5293cc;
    width: 46px;
    height: 23px;
    font-size: 11px;
    font-weight: 300;
    padding: 0;
    letter-spacing: 0.5px;
    color: $white;
    &:hover {
      background-color: #2c76b7;
    }
  }
}

.group-avatar {
  position: relative;
  width: 40px;
  height: 40px;
  flex: 0 0 40px;
  &--item {
    position: absolute;
    &:first-child {
      top: 0;
      left: 0;
    }
    &:last-child {
      border: 2px solid #fff;
      bottom: -2px;
      right: -2px;
      border-radius: 50%;
    }
    img {
      display: block;
      object-fit: cover;
    }
  }
  .online-status {
    right: 0 !important;
    bottom: -3px !important;
  }
}
.active {
  .group-avatar {
    &--item:last-child {
      border-color: #eee !important;
    }
  }
}

.text-hover-underline:hover {
  text-decoration: underline;
}

.image-select {
  margin: 0;
  padding: 0;
  width: 2.5em;
  height: 1.5em;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 1.2em;
  font-size: 1.5em;
  color: #888;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 1.5em;
  cursor: pointer;

  &:hover {
    background-color: #f3f3f3;
    cursor: pointer;
  }

  > i.fa-image {
    font-size: 15px;
  }
}

.gallery {
  display: flex;
  margin: 20px;
  overflow: auto;

  > *:not(:first-child) {
    margin-left: 20px;
  }

  > *:first-child {
    margin-left: 0;
  }

  &__image {
    border-radius: 3px;
    position: relative;

    &:not(:first-child) {
      margin-left: 20px;
    }

    &:first-child {
      margin-left: 0;
    }

    &__loading {
      opacity: 0.5;
    }

    &__remove {
      top: 7px;
      right: 7px;
      position: absolute;
      color: white;
      cursor: pointer;
      background-color: #2b2b2b;
      padding: 5px;
      border-radius: 50%;
    }

    &--add-more {
      &--wrapper {
        margin-left: 20px;
      }

      width: 157px;
      height: 157px;
      background-color: $gray8;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      i.fa-plus {
        font-size: 35px;
        color: $white;
      }
    }

    > img {
      width: 157px;
      height: 157px;
      background-color: #2b2b2b;
      object-fit: contain;
    }

    &.loading {
      > img {
        opacity: 0.4;
      }
    }

    &.error {
      border: 1px solid #f35c5c;
    }
  }

  &.gallery-medium {
    margin: 10px;

    .gallery__image--add-more {
      width: 134px;
      height: 134px;
    }

    img {
      width: 134px;
      height: 134px;
    }
  }

  &.gallery-small {
    margin: 10px;

    .gallery__image {
      &--add-more {
        &--wrapper {
          margin-left: 10px;
        }

        width: 69px;
        height: 69px;
      }

      &__remove {
        font-size: 9px;
        padding: 3px;
      }
    }

    img {
      width: 69px;
      height: 69px;
    }
  }

  &--error {
    color: #f35c5c;
    margin: 20px;
    font-size: 13px;
    font-weight: 500;

    &__small {
      font-size: 9px;
      margin: 10px;
      overflow: overlay;
      max-height: 50px;
    }

    &__medium {
      font-size: 11px;
      margin: 10px;
      overflow: overlay;
      max-height: 60px;
    }
  }

  &--info {
    margin: 20px;
    font-size: 13px;
    font-weight: 500;

    &__small {
      font-size: 9px;
      margin: 10px;
      overflow: overlay;
      max-height: 50px;
    }

    &__medium {
      font-size: 11px;
      margin: 10px;
      overflow: overlay;
      max-height: 60px;
    }
  }
}

.mention-options {
  width: 157px;
  border-radius: 3px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
  background: #fff;
  position: fixed;
  z-index: 999;

  &__child {
    padding: 5px 15px;
    font-size: 13px;
    color: $gray9;
    cursor: pointer;

    &:hover {
      background: $gray8;
    }
  }
}

#inviteGuestModal {
  padding-bottom: 1rem;
}

.guest-item {
  margin: .7rem .5rem;
  padding: .7rem .3rem;
  background-color: #f7f7f7;
  border: 1px solid #e4e4e4;
  position: relative;
  min-height: 62.3px;

  .profile--image {
    position: absolute;
  }
}

.guest-item--checkbox {
  position: absolute;
  top: 17px;
  right: 17px;

  i.fa {
    font-size: 2rem;
  }

  .fa-check-square {
    color: $aqua;
  }
}

.guest-item.checked {
  background-color: $white;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  box-shadow: 0 0 7px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

.user-guest-list {
  font-weight: bold;
  font-size: .7rem;
  border-left: 1px solid #c2c2c2;
  padding-left: .6rem;
  margin: .7rem 1.2rem 0;
}

.event-no-session-people-mt {
  margin-top: .69rem;
}

#discardModal {
  button.btn {
    font-size: .8rem;
    width: auto;

    &-outline-light {
      color: #4b5862;
      border-color: #979797;
      background-color: #f2f4f6;

      &:hover {
        background-color: #e2e6ea;
      }
    }

    &-danger {
      background-color: #e77474;
      border-color: #d95757;
      color: #f2f4f6;

      &:hover {
        background-color: #d95757;
      }
    }
  }
}

.modal {
  .modal-content {
    background-color: unset;
  }

  .modal-body {
    background-color: #fff;
  }
}

.gallery-file-icon {
  width: 134px;
  height: 134px;
}

.chat-message-file {
  position: relative;
  max-width: 300px;
  height: 60px;
  padding: .5rem 1.25rem;
  background-color: $gray3;
  border-radius: 5px;
  margin-bottom: .5rem;

  & > i {
    position: absolute;
    left: 1rem;
    top: .6rem;
  }

  .chat-message-file--action {
    position: absolute;
    right: .5rem;
    top: 1.75rem;

    i {
      cursor: pointer;
      padding: .2rem .5rem;
      border-radius: 3px;
      display: none;
    }
  }

  .chat-message-file--info {
    margin-top: .15rem;
    margin-left: 2.6rem;
  }
}

.chat-message-file:hover {
  .chat-message-file--action i {
    display: inline;
  }
}



.chat-message-file.previewable {
  cursor: pointer;

  &:hover {
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  }
}

.chat-message-file .chat-message-file--action i:hover {
  background-color: $gray25;
}

.push-notification-prompt {
  min-height: 50px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  background-color: #2b3c6c;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #fff;

  &__message {
    flex: 0.6;
    font-size: 13px;

    .prompt-choices {
      display: flex;
      align-items: center;
      justify-content: center;

      div {
        margin: 0 20px;
        display: flex;
        align-items: center;
      }

      .fa {
        margin-right: 10px;
        font-size: 6px;
      }

      .enabled {
        color: #4ec7b5;
      }

      .disabled {
        color: #f64d4d;
      }
    }

    span {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  .fa-times {
    cursor: pointer;
    font-size: 18px;

    &.position-top {
      position: relative;
      top: -10px;
    }
  }
}

.file-preview {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1050;

  iframe, video, audio {
    position: fixed;
    top: 0;
    width: 50%;
    height: 100%;
    border: none;
    left: 25%;
    min-width: 500px;
    background-color: rgba(0, 0, 0, .8);
  }

  .fa-times {
    font-size: 1.8rem;
    position: absolute;
    top: 0.8rem;
    right: 1rem;
    cursor: pointer;
    color: $white;
  }

  .spinner {
    margin-top: 20%;

    .bounce1, .bounce2, .bounce3, .bounce4 {
      background-color: white;
    }
  }
}

.document-form > div {
  width: 590.4px;
  margin: 0 auto;
}

.document-content {
  height: 443.2px;
  overflow-y: scroll;
  background-color: $gray10;
  padding: 18px 20px;
  border: 1px solid #d8d8d8;
  border-radius: 5px;
  margin-top: 1rem !important;
  margin-bottom: 1.5rem !important;
}

.signature-disabled {
  opacity: .5;
}

.document-with-link a {
  color: $blue1;
}

body.modal-open {
  overflow: hidden;
}

@media only screen and (max-width: 900px) {
  .file-preview {
    iframe, video, audio {
      width: 70%;
      left: 15%;
    }
  }
}

@media only screen and (max-width: 600px) {
  .file-preview {
    iframe, video, audio {
      width: 100%;
      left: 0;
    }
  }
}
