.navbar {
  border-bottom: 1px $gray2 solid;
}

.navbar-collapse {
  .nav-link.dropdown-toggle {
    padding-top: .8rem;
    font-size: 1rem;
    color: $white;
  }

  .navbar-left a {
    margin-left: 1rem;
    margin-right: .5rem;
    padding-bottom: .2rem;
    color: $white;
    font-size: 1rem;
    border-bottom: 2px transparent solid;
    font-weight: 100;
  }

  .navbar-left a.active,
  .navbar-left a:hover {
    border-bottom: 2px $aqua solid;
    text-decoration: none;
  }

  .navbar-left a.active {
    font-weight: 400;
  }

  .dropdown-toggle::after {
    vertical-align: .1em;
    margin-left: .5rem;
    border-top: .4em solid;
  }

  .nav-item {
    img,
    .nav-link {
      display: inline;
    }
  }

  .nav-item img {
    margin-top: -5px;
    margin-right: 3px;
  }

  .new-feature {
    display: inline-block;
    background: #4ec7b5;
    border-radius: 3px;
    height: 12px;
    font-size: 6px;
    font-weight: 600;
    margin-top: 6px;
    margin-left: 5px;
    padding: 2px 5px;
  }
}

.dropdown-menu {
  border: 1px $gray25 solid;
  border-top: none;
  font-size: .9rem;

  .dropdown-item, .dropdown-item.logout {
    color: $gray15;
    border-top: .5px $gray25 solid;
  }

  .dropdown-item.logout:hover {
    color: $white;
  }
}

.dropdown-menu.dropdown-mobile {
  top: 60px;
  left: auto;
  right: .5rem;

  .dropdown-item {
    width: 100%;
  }

  .dropdown-item.active,
  .dropdown-item:active,
  .dropdown-item:hover {
    background-color: $blue1;
  }
}

button.btn.btn-mobile {
  border-radius: 50%;
}

.navbar-toggler {
  padding: 0 .5rem;
  font-size: 1.1rem;
  line-height: 1;
  border: 2px solid $gray2;
  border-radius: 0;
}

.global-header {
  border-bottom: none;
  background-color: $blue1;
  color: $white;
  flex-shrink: 0;

  .dropdown-menu {
    left: auto;
    right: .5rem;
    padding: 0;
  }

  .dropdown-menu.dropdown-mobile .dropdown-item.active, .dropdown-menu.dropdown-mobile .dropdown-item:active,
  .dropdown-menu.dropdown-mobile .dropdown-item:hover, .navbar .dropdown-item.active, .navbar .dropdown-item:active,
  .navbar .dropdown-item:focus, .navbar .dropdown-item:hover {
    background-color: $blue1;
    color: $white;
  }

  .header-logo {
    height: 36px;
    width: auto;
    margin-top: 9px;
    margin-bottom: 9px;
  }
}

.global-header .modal {
  color: $text-color;
}

.navbar-notification {
  height: 15px;
  margin-left: -15px;
}
@media only screen and (min-width: 992px) {
  .dropdown-menu.dropdown-mobile,
  .btn-mobile {
    display: none;
  }
}
