@import 'loading_indicator';
@import 'header';
@import 'content';
@import 'footer';
@import 'messaging_modal';

// Root container
.platform {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;

  .navbar {
    order: 0;
    flex-grow: 0;
  }

  .newsfeed-container {
    order: 1;
    flex-grow: 1;
  }

  .footer {
    order: 2;
    flex-grow: 0;
  }
}
